@use "sass:math";
@import "elr-scss-functions/src/main";

// scss-lint:disable DuplicateProperty
// Headings

// TODO: replace with typography module

@mixin elr-underline($config: ()) {
  $config: extend(
    (
      color: #fff,
      width: 100px,
      align: center,
      spacing: 30px,
      thickness: 1px,
    ),
    $config
  );

  $color: map-get($config, color);
  $width: map-get($config, width);
  $align: map-get($config, align);
  $spacing: map-get($config, spacing);
  $thickness: map-get($config, thickness);

  @if $align == right {
    position: relative;
  }

  &:after {
    content: "";
    width: $width;
    height: $thickness;
    border-bottom: $thickness solid $color;
    display: block;

    @if ($align == center) {
      margin: $spacing auto;
    } @else if ($align == right) {
      margin-top: $spacing;
      position: absolute;
      right: 0;
    } @else {
      margin: $spacing 0;
    }
  }
}

// makes a rounded heading

@mixin elr-heading-rounded($config: ()) {
  $config: extend(
    (
      background-color: #333,
      text-color: #fff,
      border-radius: 3px,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $text-color: map-get($config, text-color);
  $border-radius: map-get($config, border-radius);

  padding: to-rems(10px);
  background-color: $background-color;
  color: $text-color;

  @if $border-radius > 0 {
    border-radius: $border-radius;
  }
}

// makes a pill heading

@mixin elr-heading-pill($config: ()) {
  $config: extend(
    (
      background-color: #333,
      text-color: #fff,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $text-color: map-get($config, text-color);

  padding: 10px 20px;
  background-color: $background-color;
  color: $text-color;
  border-radius: 50px;
}

@mixin elr-heading-underline($config: ()) {
  $config: extend(
    (
      border-color: #ccc,
      border-thickness: 1px,
    ),
    $config
  );

  $border-color: map-get($config, border-color);
  $border-thickness: map-get($config, border-thickness);

  border-bottom: $border-thickness solid $border-color;
  padding-bottom: 5px;
}

@mixin elr-heading-shortline($config: ()) {
  $config: extend(
    (
      border-color: #1976d2,
      align: center,
      width: 80px,
      font-size: 24px,
      border-thickness: 1px,
    ),
    $config
  );

  $border-thickness: map-get($config, border-thickness);
  $border-color: map-get($config, border-color);
  $align: map-get($config, align);
  $width: map-get($config, width);
  $font-size: map-get($config, font-size);

  @include elr-underline(
    $config: (
      color: $border-color,
      width: $width,
      align: $align,
      spacing: (
        math.div($font-size, 2),
      ),
      thickness: $border-thickness,
    )
  );
  text-align: $align;
}

@mixin elr-heading-divider($config: ()) {
  $config: extend(
    (
      line-color: #1976d2,
      thickness: 1px,
    ),
    $config
  );

  $line-color: map-get($config, line-color);
  $thickness: map-get($config, thickness);

  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    flex: 2;
    max-width: 500px;
    max-width: max-content;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &::before,
  &::after {
    flex: 1;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: $thickness;
    background-color: $line-color;
    display: block;
  }

  &::after {
    left: auto;
    right: 0;
  }
}

@mixin elr-heading-icon($config: ()) {
  $config: extend(
    (
      icon-color: #1976d2,
      font-size: 24px,
    ),
    $config
  );

  $icon: map-get($config, icon);
  $icon-color: map-get($config, icon-color);
  $font-size: map-get($config, font-size);

  font-size: to-rems($font-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.2;
  flex-wrap: wrap;

  .elr-icon {
    color: $icon-color;
    margin-right: $font-size * 0.3;
    display: block;
  }

  .elr-icon-group-heading,
  .elr-icon-group-subheading {
    padding: 0;
    margin: 0;
  }

  .elr-icon-group-heading {
    font-size: to-rems($font-size);
  }

  .elr-icon-group-subheading {
    font-size: to-rems(50%);
  }
}
