@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "./src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

.elr-heading-divider,
.elr-heading-pill,
.elr-heading-rounded,
.elr-heading-shortline,
.elr-heading-underline {
  width: 100%;
  margin: 20px 0;
  font-size: 24px;
}

.elr-heading-rounded {
  @include elr-heading-rounded;
}

.elr-heading-pill {
  @include elr-heading-pill;
}

.elr-heading-underline {
  @include elr-heading-underline;
}

.elr-heading-shortline {
  @include elr-heading-shortline;
}

.elr-heading-divider {
  @include elr-heading-divider;
}

.elr-heading-icon {
  @include elr-heading-icon;
  width: 100%;
  margin: 20px 0;

  .elr-icon-group-subheading {
    color: #666;
  }
}
